<p>Kickstarter is an enormous global community built around creativity and creative projects. Over 10 million people, from every continent on earth, have backed a Kickstarter project.</p>

<p>Some of those projects come from influential artists like De La Soul or Marina Abramović. Most come from amazing creative people you probably haven’t heard of — from Grandma Pearl to indie filmmakers to the band down the street.</p>

<p>Every artist, filmmaker, designer, developer, and creator on Kickstarter has complete creative control over their work — and the opportunity to share it with a vibrant community of backers.</p>
